<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Júpiter
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Júpiter</h1>
		
		<p>
		Júpiter és el planeta més gran del sistema solar i el cinquè segons la seva distància al Sol. 
		Té un diàmetre de 142.984 km (unes 11 vegades el de la Terra). La seva òrbita se situa aproximadament 
		a 5 UA (750 000 000 km) del Sol, entre les òrbites de Mart i Saturn. És un gegant gasós format principalment 
		per hidrogen i heli sense una superfície interior definida.
		Júpiter es el planeta con mayor masa del Sistema Solar: equivale a unas 2,48 veces la suma de las masas de todos los demás planetas 
		juntos. A pesar de ello, no es el planeta más masivo que se conoce:
		más de un centenar de planetas extrasolares que han sido descubiertos tienen masas similares o superiores a la de Júpiter.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('jupiter')">Jupiter</button>
	
	</div>	
	
</jsv-content>
