<jsv-header>
    <button-header-left onclick="$JSView.back()">< Mercuri</button-header-left>
    Mercuri
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Mart</h1>
		
		<p>
		Mercuri és el planeta més proper al Sol i el més petit del sistema solar.[9] Fa una volta 
		al Sol cada 88 dies. Mercuri és brillant quan es veu des de la Terra, amb una magnitud aparent 
		de −2,0 a 5,5, però no es veu fàcilment, ja que la seva separació angular amb el Sol és només de 
		28,3°. Tan sols es pot veure a l'alba i al crepuscle.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('mercuri')">Mercuri</button>
	
	</div>	
	
</jsv-content>
