<jsv-header>
    <button-header-left onclick="$JSView.back()">< Inici</button-header-left>
    Terra
    <button-header-right></button-header-right>
</jsv-header>


<jsv-content>

	<div class="container">
	
		<h1 class="paddingFull10">Terra</h1>
		
		<p>
		La Terra és el tercer planeta en distància respecte al Sol, 
		el més dens i el cinquè en mida dels vuit planetes del sistema solar. 
		És també el més gran dels quatre planetes terrestres del sistema solar. 
		De vegades s'anomena món o el planeta blau.
		</p>
		
		<button class="bgYellow btn-centrat" onClick="$JSView.goToView('terra')">Terra</button>
	
	</div>	
	
</jsv-content>
